@import "../../variables.scss";

.Button {
  width: 120px;
  height: 26px;
  font-size: 12px;
  letter-spacing: 0.08em;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  color: $color--primary-coral;
  background-color: rgba(245, 240, 240, 0.3);

  &[type="submit"] {
    background-color: $color--primary-coral;
    color: $color--primary-white;
    &[disabled] {
      background-color: $color--primary-dark-grey;
    }
  }

  &[type="reset"] {
    background-color: transparent;
    border: 1px solid $color--primary-coral;
    color: $color--primary-coral;
    margin-right: 20px;
  }
}
