@import "../../variables.scss";

.Button {
  width: 120px;
  height: 26px;
  font-size: 12px;
  letter-spacing: 0.08em;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: $color--primary-coral;
  color: $color--primary-white;
}
