.container {
  .header {
    min-height: 200px;
    background: url('../../assets/netflixBackground.jpg');
    // background-color: green;
  }
  .main {
    min-height: 200px;
    background: url('assets/lemon_icon.png');
    // background-color: green;
  }
  .footer {
  }
}
