@import "../../../../variables.scss";

.MovieDetails {
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  &__imageContainer {
    width: 250px;
    margin-bottom: 20px;

    @media (min-width: 470px) {
      margin-right: 20px;
    }

    &__image {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__info {
    padding-top: 10px;

    @media (min-width: 600px) {
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
    }
  }

  &__titleVote {
    display: flex;
  }

  &__title {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;

    @media (min-width: 470px) {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  &__vote {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgreen;
    font-size: 12px;
    width: 30px;
    height: 30px;
    border: 1px solid $color--primary-white;
    border-radius: 50%;
  }

  &__genre {
    margin-bottom: 10px;

    @media (min-width: 470px) {
      margin-bottom: 20px;
    }
  }

  &__dateRuntime {
    display: flex;
    color: $color--primary-coral;
    margin-bottom: 10px;

    @media (min-width: 470px) {
      margin-bottom: 20px;
    }
  }

  &__date {
    margin-right: 30px;
  }
}
