@import "../../variables.scss";

.MovieModal {
  display: flex;
  flex-direction: column;
  @media (min-width: 470px) {
    width: 400px;
  }
  &__title {
    color: $color--primary-white;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  &__button {
    width: 100px;

    &_reset {
      background-color: transparent;
      border: 1px solid $color--primary-coral;
      color: $color--primary-coral;
      margin-right: 20px;
    }
  }
}
