@import "../../../../variables.scss";

.Header {
  height: 200px;
  box-sizing: border-box;
  background: #000000bf url("assets/netflixBackground.jpg");
  background-blend-mode: darken;
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto 8px auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;

  &__headerSection {
    max-width: 860px;
    padding: 20px;
    margin: 0 auto;

    @media (min-width: 470px) {
      padding: 20px 50px;
    }

    &_top {
      display: flex;
      justify-content: space-between;
    }

    &_bottom {
      @media (min-width: 470px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__addButton {
    color: $color--primary-coral;
    background-color: rgba(245, 240, 240, 0.3);
  }

  &__title {
    color: $color--primary-white;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.15em;

    @media (min-width: 470px) {
      font-size: 2em;
      width: 430px;
      text-align: left;
    }
  }

  &__searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 470px) {
      flex-direction: row;
    }
  }

  &__searchInput {
    @media (min-width: 470px) {
      margin-right: 10px;
      width: 300px;
    }
  }
  &__searchButton {
    width: 120px;
    @media (min-width: 470px) {
      margin-bottom: 5px;
    }
  }
}
