@import "../../../../variables.scss";

.header {
  height: 200px;
  box-sizing: border-box;
  background: #000000bf url("assets/netflixBackground.jpg");
  background-blend-mode: darken;
  box-sizing: border-box;
  margin-bottom: 10px;

  .headerSection {
    max-width: 1024px;
    padding: 20px;
    margin: 0 auto;
  }

  .top {
    display: flex;
    justify-content: space-between;

    .addButton {
      color: $color--primary-coral;
      background-color: rgba(245, 240, 240, 0.3);
    }
  }

  .bottom {
    .title {
      color: $color--primary-white;
      text-transform: uppercase;
      font-size: 1.5em;
      margin-bottom: 10px;
      text-align: center;
    }

    .searchContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .searchInput {
        width: 200px;
        background-color: $color--primary-dark-grey;
        color: $color--primary-white;
        margin-bottom: 10px;
        outline-color: white;
      }
      .searchButton {
        width: 120px;
        background-color: $color--primary-coral;
        color: $color--primary-white;
      }
    }
  }
}

@media (min-width: 470px) {
  .header {
    .headerSection {
      padding: 20px 50px;
    }
    .bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-size: 2em;
        width: 430px;
        text-align: left;
      }

      .searchContainer {
        flex-direction: row;

        .searchInput {
          margin-right: 10px;
          width: 300px;
        }

        .searchButton {
          margin-bottom: 10px;
        }
      }
    }
  }
}
