@import "../../../../variables.scss";

.ActivityModal {
  padding: 10px;

  &__button {
    border-radius: 3px;
    width: 100px;
    text-transform: uppercase;

    &_delete {
      background-color: $color--primary-light-grey;
      color: $color--primary-white;
      margin-right: 20px;
    }

    &_edit {
      background-color: $color--primary-coral;
      color: $color--primary-white;
    }
  }
}
