@import "../../variables.scss";

.FiltersContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 2px solid $color--primary-light-grey;

  @media (min-width: 850px) {
    flex-direction: row;
    padding: 0;
  }

  &__genre {
    padding: 0 10px 0 5px;
    width: fit-content;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    color: $color--primary-white;
    font-size: 16px;
    height: 30px;
    border-bottom: 2px solid $color--primary-light-grey;
    margin-bottom: 10px;
    border-radius: 0;

    &:hover,
    &:focus,
    &:active {
      border: none;
      box-shadow: 0 5px 2px -2px $color--primary-coral;
    }

    &_selected {
      border: none;
      box-shadow: 0 5px 2px -2px $color--primary-coral;
    }

    @media (min-width: 850px) {
      border: none;
      margin-bottom: 0;
    }
  }
}
