@import "../../../../variables.scss";

.SearchResults {
  background-color: $color--primary-black;
  max-width: 1024px;
  margin: 208px auto 0;
  padding-bottom: 50px;

  &__filters {
    max-width: 860px;
    color: $color--primary-white;
    margin: 0 auto;

    @media (min-width: 470px) {
      padding: 10px 50px;
    }
  }
}
